[user]
	name = moskalenco_a
	email = moskalenco.a@gmail.com
[credential]
	helper = cache --timeout=36000
[core]
	editor = nvim
	excludesFile = /home/andrey/.gitignore
[difftool]
    prompt = false
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[alias]
    st = status
    co = checkout
    dt = difftool
