## Automatically indent a newly created line
## to the same number of tabs and/or spaces as the preceding line
set autoindent

## Display line numbers to the left (and any anchors in the margin).
set linenumbers

## Let an unmodified Backspace or Delete erase the marked region
## (instead of a single character, and without affecting the cutbuffer).
set zap

## Allow nano to be suspended (with ^Z by default).
set suspendable

## Use this tab size instead of the default; it must be greater than 0.
set tabsize 4

## Convert typed tabs to spaces.
set tabstospaces

## Spread overlong lines over multiple screen lines.
set softwrap

## When soft line wrapping is enabled, make it wrap lines at blanks
## (tabs and spaces) instead of always at the edge of the screen.
set atblanks

## Remember the cursor position in each file for the next editing session.
set positionlog

## The opening and closing brackets that can be found by bracket
## searches.  They cannot contain blank characters.  The former set must
## come before the latter set, and both must be in the same order.
set matchbrackets "(<[{)>]}"

## Switch on multiple file buffers (inserting a file will put it into
## a separate buffer).
set multibuffer

## Do regular-expression searches by default.
## Regular expressions are of the extended type (ERE).
set regexp

## If <Tab> should always produce four spaces when editing a Python file,
## independent of the settings of 'tabsize' and 'tabstospaces':
# extendsyntax python tabgives "    "

## If <Tab> should always produce an actual TAB when editing a Makefile:
# extendsyntax makefile tabgives "	"

## Display a "scrollbar" on the righthand side of the edit window.
set indicator

## Don't display the helpful shortcut lists at the bottom of the screen.
# set nohelp

## Suppress title bar and show file name and editor state at the bottom.
# set minibar

## Constantly display the cursor position in the status bar or minibar.
# set constantshow

## === Syntax coloring ===
## For all details, see 'man nanorc', section SYNTAX HIGHLIGHTING.
## To include most of the existing syntax definitions, you can do:
include "/usr/share/nano/*.nanorc"
