## Basic settings
set linenumbers  # display line numbers
set multibuffer  # when reading a file with ^R, insert it into a new buffer
set zap          # let Backspace / Del erase the marked region
set positionlog  # remember the cursor position in each file
set suspendable  # allow nano to be suspended (with ^Z by default)
set regexp       # do regexp searches by default (use extended RE)
set matchbrackets "(<[{)>]}"

## Indents
set tabsize 4    # tab size = 4 spaces
set tabstospaces # convert tabs to spaces
set autoindent   # automatically indent a newly created line
extendsyntax makefile tabgives "	" # use real <Tab> in Makefiles
extendsyntax   python tabgives "    " # convert  <Tab> to 4 spaces in .py

## Line wrapping
set softwrap     # spread overlong lines over multiple screen lines
set atblanks     # if soft line wrapping is enabled, wrap lines at blanks

## Appearance (bars, help shortcuts)
set nohelp       # don't display shortcut lists at the bottom
set minibar      # show file name and editor state at the bottom
set constantshow # display the cursor position in the status bar / minibar

## Syntax coloring
include "/usr/share/nano/*.nanorc"
